[user]
  name = Fanny Cheung
  email = fanny@ynote.hk

[core]
  editor = vim
  excludesfile = ~/.gitignore

[rerere]
  enabled = true

[alias]
  br = branch -v
  ba = branch -va
  cm = commit -v
  co = checkout
  st = status
  ru = remote update
  nlog = log --name-status --decorate
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  gr = log --pretty=oneline --abbrev-commit --decorate --graph
  dl = "!git ll -1"
  dlc = diff --cached HEAD^
  cd = diff --cached
  f = "!git ls-files | grep -i"
  fa = "!git diff --name-status origin/development | grep ^A"

[color]
  ui = auto
  status = auto
  pager = true
  diff = auto
  branch = auto

[merge]
  summary = true
[push]
	default = matching
